body {
	font-family: 'Ranga', cursive !important;
}

.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}

a {
	color: black !important;
}

#burger-menu {
	display: none;
}


@media screen and (max-width: 768px) {
    #burger-menu {
        display: initial;
    }
}

canvas {
	cursor: crosshair;
	display: block;
	background-color: black;
}